@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  min-height: 100vh;
  background-color: #a6bfde;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

.animatedButton{
  animation-duration: 10s;
}